@{
    ViewData["Title"] = "Home Page";
}

<div class="container-sm">
    <div class="text-center">
        <h1 class="display-4 m-5">Welcome to Abblix OIDC Server</h1>
    </div>
    <div class="text-left">
        <p>
            This sample project is powered by the <strong>Abblix OIDC Server</strong> library that implements
            the OpenID Connect protocol on the server side.
            It emerges from the idea of creating a library that we ourselves would love to use,
            a library that would meet our own high standards for flexibility, reusability and reliability.
        </p>
        <p>
            Designed to be like a Lego, our library implements widely recognized software design patterns,
            allowing each stage to be implemented independently for modularity, testability, and maintainability
            and promoting code reusability and extension.
        </p>
        <p>
            For more details about our products, services, or any general information regarding the Abblix OIDC Server,
            feel free to reach out to us. We are here to provide support and answer any questions you may have.

            <ul>
                <li>Explore the <a href="https://github.com/Abblix/Oidc.Server">repository on GitHub</a></li>
                <li>Visit the official <a href="https://www.abblix.com/abblix-oidc-server">Abblix OIDC Server</a> page for more information</li>
                <li>Send us your inquiries or support requests to <a href="mailto:support@abblix.com">support@abblix.com</a></li>
                <li>Subscribe to our <a href="https://www.linkedin.com/company/103540510/">LinkedIn</a> and <a href="https://x.com/OIDCServer">X (former Twitter)</a></li>
            </ul>

            We look forward to assisting you and ensuring your experience with our products is successful and enjoyable!
        </p>
    </div>
</div>
